<DetailsCard @ref="_detailsCard">
	<Body>
	<div class="user-name">
		<div class="user-name-item">
			<label for="employeeLastname">Фамилия</label>
			<input id="employeeLastname" type="text" class="simplify-search-field" @bind="@_clientEditDto.Lastname" />
		</div>
		<div class="user-name-item">
			<label for="employeeFirstname">Имя</label>
			<input id="employeeFirstname" type="text" class="simplify-search-field" @bind="@_clientEditDto.Firstname" />
		</div>
		<div class="user-name-item">
			<label for="employeePatronymic">Отчество</label>
			<input id="employeePatronymic" type="text" class="simplify-search-field" @bind="@_clientEditDto.Patronymic" />
		</div>
	</div>
	<div class="simplify-card-body">
		<div class="simplify-form-control">
			<label>Номер телефона</label>
			<input type="text" class="simplify-search-field" style="width: 38.5rem;" @bind="@_clientEditDto.Phone">
		</div>
		<div class="simplify-form-control">
			<label>E-mail</label>
			<input type="text" class="simplify-search-field" style="width: 38.5rem;" @bind="@_clientEditDto.Email">
		</div>
		<div class="simplify-form-control">
			<label>Примечание</label>
			<input type="text" class="simplify-search-field" style="width: 38.5rem;" @bind="@_clientEditDto.Note">
		</div>
	</div>
	<div class="simplify-card-footer">
		<div class="simplify-card-footer-item" style="justify-content: end;">
			<button class="simplify-btn" style="width: 15%;" @onclick="async () => await ClientEditSaveOnClick()">
				Сохранить
			</button>
		</div>
	</div>
	</Body>
</DetailsCard>
