@using Simplify.Project.Shared

@if (!_showCreateForm)
{
	<div class="employee-card">
		<div class="employee-roles-body">
			<p class="employee-roles-title">Новый сотрудник</p>
			<div class="employee-roles-grid">
				@foreach (var (role, index) in RoleType.ToCollection().Select((name, index) => (name, index)))
				{
					<button class="simplify-btn" style="margin-bottom: 1rem;" @onmouseover="() => _roleMouseUp = role" @onmouseout="() => _roleMouseUp = string.Empty"
					        @onclick="() => NewEmployeeRolePicked(role)">
						@role
					</button>
				}
			</div>
        
			<p class="employee-role-description">@GetRoleDescription(_roleMouseUp)</p>
		</div>
	</div>
}
else
{
	<div class="employee-card">
		<div class="employee-create-body">
			<div class="employee-create-name">
				<div class="employee-create-name-item">
					<label for="employeeLastname">Фамилия</label>
					<input id="employeeLastname" type="text" class="employee-search-field" @bind="@_employeeCreateDto.Lastname" />
				</div>
				<div class="employee-create-name-item">
					<label for="employeeFirstname">Имя</label>
					<input id="employeeFirstname" type="text" class="employee-search-field" @bind="@_employeeCreateDto.Firstname" />
				</div>
				<div class="employee-create-name-item">
					<label for="employeePatronymic">Отчество</label>
					<input id="employeePatronymic" type="text" class="employee-search-field" @bind="@_employeeCreateDto.Patronymic" />
				</div>
			</div>
    				
			<div class="employee-create-other">
				<div class="employee-create-other-item">
					<div class="employee-create-personal-item">
						<p class="employee-create-personal-item-title">Роль</p>
						<select class="simplify-dropdown" @bind="@_employeeCreateDto.Role">
							@foreach (var item in RoleType.ToCollection())
							{
								<option value="@item">@item</option>
							}
						</select>
					</div>
					<div class="employee-create-personal-item" style="margin-top: 1rem;">
						<p class="employee-create-personal-item-title">Имя пользователя</p>
						<input type="text" class="employee-search-field" @bind="@_employeeCreateDto.Login">
					</div>
					<div class="employee-create-personal-item" style="margin-top: 1rem;">
						<p class="employee-create-personal-item-title">Пароль</p>
						<input type="text" class="employee-search-field" @bind="@_employeeCreateDto.Password">
					</div>
					<div class="employee-create-personal-item" style="margin-top: 1rem;">
						<p class="employee-create-personal-item-title">Примечание</p>
						<input type="text" class="employee-search-field" @bind="@_employeeCreateDto.Note">
					</div>
				</div>
				<div class="employee-create-other-item">
					<button class="simplify-btn" style="width: 30%;" @onclick="async () => await EmployeeAddOnClick()">
						Сохранить
					</button>
				</div>
			</div>
		</div>
	</div>
}
