@using Simplify.Project.Shared

<style>
	.handbook {
		padding: 2rem 5rem;
	}

	.handbook-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 1.5rem;
	}
	
	.handbook-filters {
		display: flex;
		flex-direction: row;
		margin-left: 2rem;
	}
	
	.handbook-filters-item {
		color: var(--accent);
		border: 1px solid var(--accent);
		padding: 2px 18px;
        cursor: pointer;
		text-decoration: none;
	}
	
	.handbook-filters-item:first-child {
		border-right: none;
	}
	
	.handbook-filters-item:last-child {
		border-left: none;
	}
	
	.handbook-filters-item.selected {
		background-color: var(--accent);
		color: white;
		text-decoration: none;
	}
</style>

<div class="handbook">
	<div class="handbook-header">
    	<input type="text" class="simplify-search-field" placeholder="Поиск по справочнику" @oninput="_onInputDebounced!">
    	<div class="handbook-filters">
	        <div class="handbook-filters-item @(FiltersItemIsSelected(HandbookSearchType.Apartments) ? "selected" : "")" 
    		     @onclick="() => FiltersItemOnClick(HandbookSearchType.Apartments)">Квартиры</div>
    		<div class="handbook-filters-item @(FiltersItemIsSelected(HandbookSearchType.Clients) ? "selected" : "")" 
    		     @onclick="() => FiltersItemOnClick(HandbookSearchType.Clients)">Клиенты</div>
    	</div>
    </div>
    
	<div id="handbook-search-items">
		@foreach (var item in SearchResults.OrderBy(dto => dto.Name))
		{
			<p id="@item.Id" class="simplify-list-item" @onclick="_ => SelectHandbookItem(item)">
				@item.Name
			</p>
		}
	</div>
</div>

<ClientEditCard @ref="@_clientEditCard" OnClose="() => InvokeAsync(Refresh)" />
<ApartmentEditCard @ref="_apartmentEditCard" />
